* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fb;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.dashboard {

    width:95%;

    max-width:1700px;

    margin:50px auto;

    padding:20px;

}

.dashboard h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
    font-size: 18px;
}

.upload-card,
.preview-card {

    background: white;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;

    box-shadow: 0 5px 20px rgba(0,0,0,.08);

}

.upload-card h2,
.preview-card h2 {
    margin-bottom: 10px;
}

.upload-card p {
    color: #666;
    margin-bottom: 20px;
}

.upload-controls {

    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

}

input[type=file]{

    flex:1;

}

button{

    background:#2563eb;
    color:white;

    border:none;

    padding:12px 24px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    transition:.2s;

}

button:hover{

    background:#1d4ed8;

}

.selected-file{

    color:#16a34a;

    font-weight:bold;

}

.preview-table{

    border-collapse:collapse;

    min-width:max-content;

}

.preview-table td{

    border:1px solid #ddd;

    padding:10px;

}

.preview-table thead th {

    background:#2563eb;

    color:white;

    padding:12px;

    text-align:left;

}

.preview-table tbody tr:nth-child(even){

    background:#f9fafb;

}

.preview-table tbody tr:hover{

    background:#eef4ff;

}

.row-count{

    margin-top:20px;

    font-size:17px;

}

.import-button{

    margin-top:20px;

}
.header-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.delete-column-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 6px;
    transition: 0.2s;
}

.delete-column-btn:hover {
    color: #ffb4b4;
    transform: scale(1.2);
}

.preview-table th {

    border-right: 1px solid rgba(255,255,255,.3);

}
.preview-table th:last-child {

    border-right: none;

}

.table-container {

    width:100%;

    overflow-x:auto;

    overflow-y:auto;

    max-height:600px;

    border:1px solid #ddd;

    border-radius:10px;

}
